html
	head
		title=title
	body
		h1 Liste des apprenants
		ul
			li.mika: a(href="/nom/Mickael/Pol") Mickaël
			li.isam: a(href="/nom/Isabellle/Muckensturm") Isabelle
			li.rith: a(href="/nom/Rithisen/Pan") Rithisen
			li.isac: a(href="/nom/Isabel/Costanzo") Isabel
			li.micha: a(href="/nom/Michael/Legrand") Michael
			li.chris: a(href="/nom/Christophe/Juin") Christophe
			li.nico: a(href="/nom/Nicolas/Tiraboschi") Nicolas
			li.julien: a(href="/nom/Julien/Lebfevre") Julien
			li.jim: a(href="/nom/Jimmy/Bouvier") Jimmy
			li.nass: a(href="/Nassim/Cheurfa") Nassim
			li.christopher: a(href="/nom/Christopher/Fourgeaud") Christopher
			li.jeanne: a(href="/nom/Jeanne/Tiramani") Jeanne
			li.val: a(href="/nom/Valentin/Van Eersel") Valentin
			li.leo: a(href="/nom/Leo/Subias") Léo
			li.aure: a(href="/nom/Aurelie/Lecoq") Aurélie